	
	#wrapper{width:70%; min-height:1000px; margin-left:auto; margin-right:auto;}
	#header{width:100%; height:110px; background-position:center; padding-top:10px; background-color:#CCCCCC;}
	#container{width:100%; height:860px;} 
	#nav{width:10%; min-height: 340px; float:left; background-color:green} 
	#text{width:60%; min-height: 810px; float:left; background-color:yellow;}
	#photo{width:30%; min-height: 810px; float:right; background-color:orange;}
	#footer{clear:both; width:90%; float:right; min-height:40px; background-color:red;}
	body{margin-top:-16px; background-image; background-position:center; background-repeat:no-repeat; background-size:100%; background-attachment: fixed;}
	.menu_simple ul{margin:0; padding:0; width:9%; list-style-type:none;}
			.menu_simple ul li a{text-decoration:none; colour:white; padding: 10.5px 11px; background-color:green; display:block;}
			.menu_simple ul li a:visited{color:white;}
			.menu_simple ul li a:hover, .menu_simple ul li .current{color:white; background-color:green;}
			.photo_link ul li a:{text-decoration:none; color:black; background-color:}
			.header1{padding-left:1em;}
			.text1{padding-left:1em; font-family:verdana;}
			.text2{padding-left:1em; font-family:verdana;}
			
			
			